# 开发相关
.cursor/
.history/
.idea/
.vscode/
.vscode-test/
node_modules/
src/
out/

# 配置文件
*.ts
*.map
.gitignore
.npmrc
tsconfig.json
eslint.config.mjs
esbuild.js
.vscode-test.mjs
vsc-extension-quickstart.md

# 文档
doc/

# 锁文件
pnpm-lock.yaml
package-lock.json

# Source map
**/*.js.map

# 打包文件
*.vsix
